{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}
    <h1>Schedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ schedule.content }}</td>
            </tr>
            <tr>
                <th>Promo</th>
                <td>{{ schedule.promo }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ schedule.day ? schedule.day|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_index') }}">back to list</a>

    <a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>

    {{ include('schedule/_delete_form.html.twig') }}
{% endblock %}
