{% extends 'base.html.twig' %}

{% block title %}Schedule index
{% endblock %}

{% block body %}
	<h1>Schedule index</h1>

	<table class="table schedule-table">
		<thead>
			<tr class="table-header-row">
				<th class="table-header-cell">9:00 - 12:00</th>
				<th class="table-header-cell">13:00 - 16:00</th>
				<th class="table-header-cell">Promo</th>
				<th class="table-header-cell">Day</th>
				<th class="table-header-cell">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for schedule in schedules %}
				<tr class="table-body-row">
					<td class="table-body-cell">{{ schedule.contentMorning }}</td>
					<td class="table-body-cell">{{ schedule.contentAfternoon }}</td>
					<td class="table-body-cell">{{ schedule.promo }}</td>
					<td class="table-body-cell">{{ schedule.date ? schedule.date|date('Y-m-d') : '' }}</td>
					<td class="table-body-cell">
						<a href="{{ path('app_schedule_show', {'id': schedule.id}) }}">show</a>
						<a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr class="table-body-row">
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<a href="{{ path('app_schedule_new') }}">Create new</a>

	<h1>FunFact index</h1>

	<div class="container-swiper">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{% for fun_fact in fun_facts %}
					<div class="swiper-slide card__article">
						<p>{{ fun_fact.content }}</p>
						<div>
							<a href="{{ path('app_fun_fact_show', {'id': fun_fact.id}) }}">Afficher</a>
							<a href="{{ path('app_fun_fact_edit', {'id': fun_fact.id}) }}">Modifier</a>
						</div>
					</div>
				{% else %}
					<div class="swiper-slide card__article">
						<div>Aucun enregistrement trouvé</div>
					</div>
				{% endfor %}
			</div>

			<!-- Boutons de navigation -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>

	<a href="{{ path('app_fun_fact_new') }}">Create new</a>

	<h1>Actu index</h1>

	<div class="container-swiper">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{% for actu in actus %}
					<div class="card mb-4">
						{% if actu.imageName %}
							<img class="card-img-top" src="{{ asset('uploads/images/' ~ actu.imageName) }}" alt="{{ actu.imageName }}">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ actu.title }}</h5>
							<p class="card-text">{{ actu.content }}</p>
							<p class="card-text">
								<small class="text-muted">{{ actu.date ? actu.date|date('Y-m-d') : '' }}</small>
							</p>
							<a href="{{ path('app_actu_show', {'id': actu.id}) }}">Show</a>
							<a href="{{ path('app_actu_edit', {'id': actu.id}) }}">Edit</a>
						</div>
					</div>

				{% else %}
					<div class="alert alert-warning" role="alert">
						No records found
					</div>

				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>


	<a href="{{ path('app_actu_new') }}">Create new</a>
{% endblock %}
